## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
#path = "/Users/krunal/Desktop/code/"

#print(os.path.join(path, "pyt", "database", "app.py"))
#path = os.path.join('c:' + os.sep, 'Users', 'xxxx', 'Desktop', 'student-intervention-system', 'student-data.csv')
#tudent_data = pd.read_csv(path)
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
#path = "C:\Users\Stephen\OneDrive\Documents\DataViz\Projects\World_Weather_Analysis"
#main_path = os.path.join(path, "Vacation Search", "WeatherPy_vacation.csv")

#vacation_df = pd.read_csv(main_path)
vacation_df = pd.read_csv(r"C:\Users\Stephen\OneDrive\Documents\DataViz\Projects\World_Weather_Analysis\Vacation Search\WeatherPy_vaction.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,atuona,PF,78.64,broken clouds,-9.8000,-139.0333,Villa Enata
1,5,rikitea,PF,76.06,broken clouds,-23.1203,-134.9692,People ThankYou
2,6,cidreira,BR,64.83,broken clouds,-30.1811,-50.2056,Hotel Castelo
3,8,arraial do cabo,BR,71.82,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
4,9,lebu,CL,55.38,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.

max_temp_1 = vacation_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "hamilton") & (vacation_df["Country"] == "US")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "hamilton") & (vacation_df["Country"] == "US")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "crestview") & (vacation_df["Country"] == "US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "marshall") & (vacation_df["Country"] == "US")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "wichita falls") & (vacation_df["Country"] == "US")]

In [25]:
#student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & 
            #        (student_data_df["grade"] == "9th"), "math_score"] = np.nan

In [26]:
vacation_start.to_numpy()

array([[229, 'hamilton', 'US', 62.89, 'overcast clouds', 39.1834,
        -84.5333, 'Six Acres Bed & Breakfast']], dtype=object)

In [27]:
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
start
#start = city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]

(39.1834, -84.5333)

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [29]:
stop1

(30.7621, -86.5705)

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,229,hamilton,US,62.89,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
1,229,hamilton,US,62.89,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
2,119,crestview,US,73.76,overcast clouds,30.7621,-86.5705,Holiday Inn Express & Suites Crestview South I...
3,225,marshall,US,72.95,overcast clouds,34.3834,-86.3333,Riverview Campground
4,344,wichita falls,US,62.17,scattered clouds,33.9137,-98.4934,Quality Inn & Suites Wichita Falls I-44

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [33]:
# 11a. Add a marker layer for each city to the map.
max_temp_1 = itinerary_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))