## Deliverable 3. Create a Travel Itinerary Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [21]:
#path = "/Users/krunal/Desktop/code/"

#print(os.path.join(path, "pyt", "database", "app.py"))
#path = os.path.join('c:' + os.sep, 'Users', 'xxxx', 'Desktop', 'student-intervention-system', 'student-data.csv')
#tudent_data = pd.read_csv(path)
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
#path = "C:\Users\Stephen\OneDrive\Documents\DataViz\Projects\World_Weather_Analysis"
#main_path = os.path.join(path, "Vacation Search", "WeatherPy_vacation.csv")

#vacation_df = pd.read_csv(main_path)
vacation_df = pd.read_csv(r"C:\Users\Stephen\OneDrive\Documents\DataViz\Projects\World_Weather_Analysis\Vacation Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,4,san carlos,VE,75.81,broken clouds,9.6612,-68.5827,Hotel Paternopoli
1,6,kaitangata,NZ,56.93,overcast clouds,-46.2817,169.8464,Kaitangata Motor Camp
2,9,kapaa,US,76.98,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,13,ancud,CL,57.42,overcast clouds,-41.8697,-73.8203,Hotel Arena Gruesa
4,14,havelock,US,67.96,overcast clouds,34.8791,-76.9013,Sherwood Motel

In [22]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [23]:
# 4a. Add a marker layer for each city to the map.

max_temp_1 = vacation_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp_1, dissipating=False,
                                max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "hamilton") & (vacation_df["Country"] == "US")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "hamilton") & (vacation_df["Country"] == "US")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "cumberland") & (vacation_df["Country"] == "US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "waycross") & (vacation_df["Country"] == "US")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "russell") & (vacation_df["Country"] == "US")]

In [27]:
#student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & 
            #        (student_data_df["grade"] == "9th"), "math_score"] = np.nan

In [34]:
vacation_start.to_numpy()

array([[235, 'hamilton', 'US', 59.41, 'mist', 39.1834, -84.5333,
        'Six Acres Bed & Breakfast']], dtype=object)

In [36]:
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
start
#start = city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]

(39.1834, -84.5333)

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [41]:
stop1

(35.0502, -78.8664)

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,235,hamilton,US,59.41,mist,39.1834,-84.5333,Six Acres Bed & Breakfast
1,235,hamilton,US,59.41,mist,39.1834,-84.5333,Six Acres Bed & Breakfast
2,421,cumberland,US,56.86,light rain,35.0502,-78.8664,American Eagle Inn
3,510,waycross,US,69.33,clear sky,31.2136,-82.3540,Super 8 by Wyndham Waycross GA
4,399,russell,US,69.03,mist,32.3502,-85.1999,Macs

In [46]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
max_temp_1 = itinerary_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))